streamlit
pandas
requests
python-dateutil
thefuzz
openpyxl
folium
streamlit-folium

# Para ejecutar este proyecto localmente, instale las siguientes librerías:
# pip install streamlit
# pip install pandas
# pip install openpyxl
# pip install requests
# pip install python-dateutil
# pip install thefuzz